.Container{
    width: 90%;
    height: 60%;
    margin:  0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
}




.boxContainer{
    display: flex;
    width: 90%;
    height: 150px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 8px;
    background: #f0f2f3;
    margin: 0 auto;
    box-sizing: content-box;

    transition: all .5s ease-in-out;

    &:hover{
        &:hover{
            background: #f6f4f5;
            transform: scale(1.1) translate(9px, 0);
            box-shadow: 0 0 4px 0 rgba(33,33,33,0.2);
          }
          &:active{
            transform: scale(1.1) translate(9px, 0);
            box-shadow: inset 0 0 3px 0 rgba(33,33,33,0.1);
          }
    }

    .title{
        width: 90%;
        font-size: 18px;
        padding-left: 15px;
        font-family: roboto, sans-serif;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 18px;     
        max-height: 36px;      
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;

    }
    
    p{
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px;     
        max-height: 32px;      
        -webkit-line-clamp: 3; 
        -webkit-box-orient: vertical;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 15px;
        padding-bottom: 15px;
        color: rgb(97, 97, 97);
    }


    .footerBoxContainer{
        display: flex;
        flex-direction:row ;
        justify-content: space-between;

        .author{
            display: -webkit-box;
            font-size: 14px;
            font-family: roboto;
            font-weight: bold;
            padding-left: 15px;
            color: #000;
            margin-bottom: 5px;
            max-width: 50%;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 16px;     
            max-height: 32px; 
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }



    }




}

.headerContainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

  .starIcon{
      color: #6B169F;
  }

}

.urlAccess{
    padding-right:60px;
    color: rgb(44, 44, 44);
    font-family: bebas neue;

}