

.Content{
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 5px;
}

.title{
  z-index: 1;
  align-self: center;
  font-size: 36px;
  font-family: bebas neue;
  color: blueviolet;
  margin-bottom: 15px;
  margin-top: 20px;
  margin-right: 5px;
  @media screen and (max-width:720px){
    font-size: 20px;
    
  }

}

.searchContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  input{
    width: 445px;
    height: 35px;
    font-family: roboto;
    font-size: 16px;
    padding-left:10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
    border: 1px solid blueviolet;
    background: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 1s ease-in-out;
    
    &::placeholder{
      font-family: roboto ;
      font-size: 16px;
      letter-spacing: 1px;
    }

    &:focus {
      transition: 1s;
      border-color: #400372;
    }

    &:focus ~.searchBtn {
      transition: 1s;
      background: #400372;
      &:hover{
        transition: 1s;
        cursor: pointer;
        background: #05aa70;
        opacity: 0.9;
      }
    }

    @media screen and (max-width:720px) {
      width: 230px;
    }

  }
  .searchBtn{
    height: 35px;
    font-size: 12px;
    font-family: bebas neue;
    color: #f0f2f3;

    letter-spacing: 4px;
    background: #6B169F;
    border-bottom-left-radius:0px ;
    border-top-left-radius:0px ;

    transition: all .5s ease-in-out;
    &:hover{
      background: #6B169F;
      color: #ffffff;
    }

  }

}


  
 

          

